<div class="nav">
  <button class = "navbar" [routerLink]="['/applyLink']">Personal Details</button>
  <button class = "navbar" [routerLink]="['/employmentDetailsLink']">Employement Details</button>
  <button class = "navbar" [routerLink]="['/vehicleDetailsLink']">Vehicle Details</button>
  <button class = "navbar" [routerLink]="['/bankDetailsLink']">Bank Details</button>
  <button class = "navbar" [routerLink]="['/uploadLink']">Upload Documents</button>
  <button class = "navbar" [routerLink]="['/loanDetailsLink']">Loan Details</button>
</div>    
<hr><hr>
<fieldset>
  <form  #myForm=ngForm (ngSubmit)="submit()">
    <div class="form-group">
      <div class="col-xs-6  col-xs-offset-3 align-center">
        <h4>Bank Details</h4><br>
  
        <label >Bank Name</label>
        <input type="text" #bn="ngModel" [(ngModel)]="cust.bankName"  placeholder="Example SBI" class="form-control "name="bname" required>
        <div *ngIf="bn.invalid && (bn.dirty || bn.touched)" style="color: red; border: red;">
          <div *ngIf="bn.errors.required">
            Bank Name is Required.
          </div>
        </div><br>
  
        <label >Branch</label>
        <input type="text" #br="ngModel" [(ngModel)]="cust.branchName"  placeholder="Example Bhandup" class="form-control "name="branch" required >
        <div *ngIf="br.invalid && (br.dirty || br.touched)" style="color: red; border: red;">
          <div *ngIf="br.errors.required">
            Branch Name is Required.
          </div> 
        </div><br>
  
        <label >Account Number</label>
        <input type="text" #an="ngModel" [(ngModel)]="cust.accountNumber" placeholder="Example SBI56478332" class="form-control" name="acno" required>
        <div *ngIf="an.invalid && (an.dirty || an.touched)" style="color: red; border: red;">
          <div *ngIf="an.errors.required">
              Account Number is required.
          </div>
          <div *ngIf="an.errors.minlength">
              Invalid...Must contain min 9 Characters
          </div>
        </div><br>
  
        <label>IFSC Code</label>
        <input type="text" #cd="ngModel"  minlength="11" [(ngModel)]="cust.ifsc" placeholder="Example SBI37489202" class="form-control" name="ifsc" required>
        <div *ngIf="cd.invalid && (cd.dirty || cd.touched)" style="color: red; border: red;">
          <div *ngIf="cd.errors.required">
            IFSC code is required.
          </div>
          <div *ngIf="cd.errors.minlength">
            Invalid...Must Contain 11 Characters
          </div>
        </div><br><br>
                            
        

        <button type="submit" name="submit" value="submit" [disabled]="myForm.form.invalid" class="submit">Save and Next</button>
                          
      </div>
    </div>
  </form>
</fieldset><br>
          
          
  
  
  
  
  
