<div class="nav">
    <span  [routerLink]="['/applyLink']">Personal Details</span> >>
    <span  [routerLink]="['/employmentDetailsLink']">Employement Details</span> >> 
    <span [routerLink]="['/vehicleDetailsLink']">Vehicle Details</span> >> 
    <span [routerLink]="['/loanDetailsLink']">Loan Details</span> >>
    <span [routerLink]="['/bankDetailsLink']">Bank Details</span><br><br>
</div>   
<hr><hr>
<form  #myForm=ngForm (ngSubmit)="myForm">
  <div class="form-group">
    <div class="col-xs-6  col-xs-offset-3 align-center">
      <h4>Vehicle Details</h4><br>
      <div class="form-group" >                  
          <label class="control-label" >Type of vehicle</label>
          <select class="form-control"  required>
            <option disabled>Select one</option>
            <option value="two Wheeler" >two Wheeler </option>
            <option value="Auto"> Auto Loan</option>
            <option value="Car">Car Loan</option>
          </select>
        </div><br>
                      
          <label >State Of Purchase</label>
          <input type="text" #pr="ngModel" [(ngModel)]="StateOfPurchase"  placeholder="State" class="form-control "name="state" required>
          <div *ngIf="pr.invalid && (pr.dirty || pr.touched)" style="color: red; border: red;">
            <div *ngIf="pr.errors.required">
              Enter State Of Purchase
            </div>
          </div><br>
                        
          <label >City Of Purchase</label>
          <input type="text" #cp="ngModel" [(ngModel)]="CityOfPurchase" placeholder="city" class="form-control "name="city" required>
          <div *ngIf="cp.invalid && (cp.dirty || cp.touched)" style="color: red; border: red;">
            <div *ngIf="cp.errors.required">
              Enter City Of Purchase
            </div>
          </div><br>
    
          <label >Vehicle Make</label>
          <input type="text" #vm="ngModel" [(ngModel)]="VehicleMake" placeholder="Vehicle Make" class="form-control "name="vehiclemake" required>
          <div *ngIf="vm.invalid && (vm.dirty || vm.touched)" style="color: red; border: red;">
            <div *ngIf="vm.errors.required">
              Please Enter Required Field
            </div>
          </div><br>
    
          <label>Vehicle Model</label>
          <input type="text" #mo="ngModel" [(ngModel)]="VehicleModel" placeholder="Vehicle Model" class="form-control" name="vehiclemodel" required>
          <div *ngIf="mo.invalid && (mo.dirty || mo.touched)" style="color: red; border: red;">
            <div *ngIf="mo.errors.required">
              Please Enter Required Field
            </div>
          </div><br>                    
                            
          <button type="submit" name="submit"  [routerLink]="['/loanDetailsLink']" value="Next" [disabled]="myForm.form.invalid" class="btn btn-primary">Next</button>
  
    </div>
  </div>
</form>
    