<div class="left">
    <img src="../assets/images/about-img.jpg" width="90%" height="300px" >
    <img src="../assets/images/about_us.png" width="90%" height="360px" >
</div>

<div class="main">
<h1>About Us</h1>
<p>Loan on Wheels is a leading private sector loan-providing comapany in India.</p>

<h3>History</h3>
<p>Loan on Wheels was originally promoted in 1994 and was its wholly-owned subsidiary.</p>

<h3>Board of Directors</h3>
<p>Our Board of members include eminent individuals with a wealth of experience in international business, management consulting, banking and financial services.</p>

<h3>Investor Relations</h3>
<p>All the latest, in-depth information about  financial performance and business initiatives.</p>

<h3>Career Opportunities</h3>
<p>Explore diverse openings available on our website.</p>

<h3>Awards</h3>
<p>Time and again our innovative banking services has been recognized and rewarded world over.</p>

<h3>News Room</h3>
<p>Catch up with our latest business and social initiatives, as well as innovative product launches.</p>

<h3>Corporate Social Responsibility</h3>
<p>Loan on Wheels is deeply engaged in human and economic development at the national level.</p>
<br><br>
</div>


<!-- Authorities Section end -->
<div class="bottom">
        <div class="text-center">
            <h2>We’re regulated by these authorities</h2>
        </div>

        <table>
        
        
        <tr>
            <td><img src="../assets/images/brands/1.png" alt="" class="img1"></td>
            <td><img src="../assets/images/brands/2.png" alt="" class="img1"> </td>
            <td><img src="../assets/images/brands/3.png" alt="" class="img1"></td>
        </tr>
        <tr>
            <td><h4>Financial Conduct Authority</h4></td>
            <td><h4>Prudential Regulation Authority</h4></td>
            <td><h4>Peer-to-Peer Finance Association</h4></td>
        </tr>
        <tr>
            <td><a [routerLink]="['/applyLink']" class="readmore">Apply for a loan now <img src="../assets/images/arrow.png" alt=""></a></td>
            <td><a [routerLink]="['/applyLink']" class="readmore">Apply for a loan now<img src="../assets/images/arrow.png" alt=""></a></td>    
             <td><a [routerLink]="['/applyLink']" class="readmore">Apply for a loan now <img src="../assets/images/arrow.png" alt=""></a></td>        
        </tr>
    </table>
    <br>
</div>