<img src="../assets/images/about-img.jpg" width="50%" height="300px" >

<h1>About Us</h1>
<p>ICICI Bank is a leading private sector bank in India. The Bank’s consolidated total assets stood at Rs. 14.76 trillion at September 30, 2020.  ICICI Bank currently has a network of 5,288 branches and 15,158 ATMs across India.</p>

<h3>History</h3>
ICICI Bank was originally promoted in 1994 by ICICI Limited, an Indian financial institution, and was its wholly-owned subsidiary.

<h3>Board of Directors</h3>
ICICI Bank's Board members include eminent individuals with a wealth of experience in international business, management consulting, banking and financial services.

<h3>Investor Relations</h3>
All the latest, in-depth information about ICICI Bank's financial performance and business initiatives.

<h3>Career Opportunities</h3>
Explore diverse openings with ICICI Bank.

<h3>Awards</h3>
Time and again our innovative banking services has been recognized and rewarded world over.

<h3>News Room</h3>
Catch up with ICICI Bank's latest business and social initiatives, as well as innovative product launches.

<h3>Corporate Social Responsibility</h3>
ICICI Bank is deeply engaged in human and economic development at the national level. The Bank works closely with ICICI Foundation across diverse sectors and programs.

<hr><hr>
<!-- Authorities Section end -->
<section class="authorities-section spad">
    <div class="container">
        <div class="text-center">
            <h2>We’re regulated by these authorities</h2>
        </div>

        <table>
        
        
        <tr>
            <td><img src="../assets/images/brands/1.png" alt="" class="img1"></td>
            <td><img src="../assets/images/brands/2.png" alt="" class="img1"> </td>
            <td><img src="../assets/images/brands/3.png" alt="" class="img1"></td>
        </tr>
        <tr>
            <td><h4>Financial Conduct Authority</h4></td>
            <td><h4>Prudential Regulation Authority</h4></td>
            <td><h4>Peer-to-Peer Finance Association</h4></td>
        </tr>
        <tr>
            <td><a [routerLink]="['/applyLink']" class="readmore">Apply for a loan now <img src="../assets/images/arrow.png" alt=""></a></td>
            <td><a [routerLink]="['/applyLink']" class="readmore">Apply for a loan now<img src="../assets/images/arrow.png" alt=""></a></td>    
             <td><a [routerLink]="['/applyLink']" class="readmore">Apply for a loan now <img src="../assets/images/arrow.png" alt=""></a></td>        
        </tr>
    </table>
    </div>
</section>