<div class="topnav">
  <ul style="list-style-type: none;">
    <img src="../assets/images/LoanLogo.jpg" width=15% height="75px" class="logo">
    <li><a [routerLink]="['/userDashboardLink']">Dashboard</a></li>
    <li>
        <button class="dropbtn" (click)="logout()">Logout</button>
    </li>
  </ul>
</div>
<br>
<div class="nav">
  <button class = "navbar" [routerLink]="['/applyLink']">Personal Details</button>
  <button class = "navbar" [routerLink]="['/employmentDetailsLink']">Employement Details</button>
  <button class = "navbar" [routerLink]="['/vehicleDetailsLink']">Vehicle Details</button>
  <button class = "navbar" [routerLink]="['/bankDetailsLink']">Bank Details</button>
  <button class = "navbar" [routerLink]="['/uploadLink']">Upload Documents</button>
  <button class = "navbar" [routerLink]="['/loanDetailsLink']">Loan Details</button>
</div>          
<hr><hr>
<fieldset>
<form  #myForm=ngForm (ngSubmit)="submit()">
  <div class="form-group">
    <div class="col-xs-6  col-xs-offset-3 align-center">
      <h4>Loan Details</h4><br>
       
      <div class="form-group">
        <label >Loan Amount</label>
        <input type="Number" #lamnt="ngModel" [(ngModel)]="cust.loanAmount" pattern="^[0-9]{5,7}$"  placeholder="Example 1,60,000" class="form-control "name="lamt" required>
        <div *ngIf="lamnt.invalid && (lamnt.dirty || lamnt.touched)" style="color: red; border-color: red;">
          <div *ngIf="lamnt.errors.required">Loan Amount is Required </div>
          <div *ngIf="lamnt.errors.pattern">Invalid Amount</div>
        </div><br>
  
        <label>Loan Tenure</label>
        <input type="text" #lt="ngModel" pattern="^[0-9]{0,2}$"  [(ngModel)]="cust.tenure" placeholder="Example 14 months " class="form-control "name="tenure" required>
        <div *ngIf="lt.invalid && (lt.dirty || lt.touched)" style="color: red; border-color: red;">
          <div *ngIf="lt.errors.required">Loan Tenure is Requird</div>
          <div *ngIf="lt.errors.pattern">Invalid Tenure</div>
        </div><br>

        <label class="control-label">Any Existing Loan</label>
        <div class="form-control">
          <input type="radio"  required name="existing" (click)="emi()">
            Yes
          <input type="radio" value="Not Applicable" required name="existing" (click)="Noemi()">
            No                    
        </div><br>

        
                        
        <div  *ngIf="show">

         <label >Existing Loan Amount</label>
         <input type="number" #la="ngModel" [(ngModel)]="cust.existingLoanAmount"  pattern="^[0-9]{5,7}$" placeholder="Existing Loan Amount" class="form-control" name="exloan" required>
         <div *ngIf="la.invalid && (la.dirty || la.touched)" style="color: red; border-color: red;">
           <div *ngIf="la.errors.required">Loan Amount is Required.</div>
           <div *ngIf="la.errors.pattern">Invalid Amount</div>
         </div><br>
  
        <label >Existing Emi Amount</label>
        <input type="number" #ea="ngModel" [(ngModel)]="cust.existingEmi"  pattern="^[0-9]{4,7}$" placeholder="Existing Emi Amount" class="form-control" name="emiamount" required>
        <div *ngIf="ea.invalid && (ea.dirty || ea.touched)" style="color: red; border-color: red;">
          <div *ngIf="ea.errors.required">EMI Amount is Required.</div>
          <div *ngIf="ea.errors.pattern">Invalid Amount</div>
        </div><br>
  
        <label>Bank Name</label>
        <input type="text"  #cn="ngModel" pattern="^[a-zA-Z]+$" [(ngModel)]="cust.existingLoanBank"  placeholder="example HDFC" class="form-control" name="bankName" required>
        <div *ngIf="cn.invalid && (cn.dirty || cn.touched)" style="color: red; border-color: red;">
          <div *ngIf="cn.errors.required">Bank Name is Required</div>
          <div *ngIf="cn.errors.pattern">Alphabets only</div>  
        </div><br>

        </div>          
        <div *ngIf="display">
          <button type="submit"  name="Next" value="Next" [disabled]="myForm.form.invalid " class="submit">Save and Next</button>                
        </div>
      </div>
    </div>
  </div>
</form>
</fieldset>
<br>
  
         

         
     
     
  
   


          