<div class="bg-img">
  <div class="content">
    <header>User Login</header>
    <form #loginForm=ngForm (ngSubmit)="login()">

      <div class="field">
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
         
        <input type="text" #id="ngModel" name="adminid" pattern="^[0-9]{3,5}$" placeholder="Enter Id" required [(ngModel)]="user.custId"/>
        <div *ngIf="id.invalid && id.dirty " style="color:red;border-color:red;">
          <div *ngIf=id.errors.required>Id is required</div>
          <div *ngIf=id.errors.pattern>Id is invalid</div>
        </div>
      </div>

      <div class="field space">
        <span class="fa fa-lock"></span>
       
        <input type="password" #pwd="ngModel" 
        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
        name="upass" placeholder="Enter Password" required [(ngModel)]="user.password"/>
        <div *ngIf="pwd.invalid && pwd.dirty " style="color:red;border-color:red;">
          <div *ngIf=pwd.errors.required>Password is required</div>
          <div *ngIf=pwd.errors.pattern>Password is invalid</div>
        </div>
      </div>

         
      <div class="pass">
        <a [routerLink]="['/forgotPasswordLink']">Forgot Password ?</a>
      </div>

      <div>
        <button type="submit" class="loginbtn" [disabled]="loginForm.form.invalid" >Login</button>
        <button type="reset" class="cancelbtn">Cancel</button><br><br>
      </div>
      <br> 

      <div>
        <a [routerLink]="['/userRegLink']">Not a User?</a>
      </div>
    </form>
  </div>
</div>
 







