<hr><hr>
<br>
<fieldset>
  <h4>Reset Password</h4>
<form #forgotpassForm="ngForm" (ngSubmit)="forgotpass()">
  <label>Customer Id</label>
  <input type="text" #id="ngModel" name="adminid" pattern="^[0-9]{3,5}$" placeholder="Enter Id" required [(ngModel)]="pass.custId"/><br>
  <div *ngIf="id.invalid && id.dirty " style="color:red;border-color:red;">
    <div *ngIf=id.errors.required>Id is required</div>
    <div *ngIf=id.errors.pattern>Id is invalid</div>
  </div>
  
  <label>Email Id</label>
  <input type="email" #em="ngModel" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$" required name="uemail" 
  placeholder="Enter Email Id" [(ngModel)]="pass.email">
  <div *ngIf="em.invalid && (em.dirty || em.touched)" style="color: red; border-color: red;">
    <div *ngIf="em.errors.required">
      Email is required.
    </div>
    <div *ngIf="em.errors.pattern">
      Invalid Email Id
    </div>
  </div>
  <br>
  <div>
    <button type="submit" class="check" (click)="check()">Validate</button>
  </div>
  
<div  *ngIf="show">

  <label>Set Password</label>
  <input type="password" #pwd="ngModel" 
  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
  name="upass" placeholder="Enter Password" required [(ngModel)]="reset.password"/><br>
  <div *ngIf="pwd.invalid && pwd.dirty " style="color:red;border-color:red;">
    <div *ngIf=pwd.errors.required>Password is required</div>
    <div *ngIf=pwd.errors.pattern>Password is invalid</div>
  </div>

  <label>Confirm Password</label>
  <input type="password" #pwd1="ngModel"  ngValidateEqual="upass"
  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
  name="cpass" placeholder="Re-Enter Password" required [(ngModel)]="reset.confirmPassword"/><br>
  <div *ngIf="pwd1.invalid && pwd1.dirty" style="color:red;border-color:red;">
    <div *ngIf=pwd1.errors.required>Password is required</div>
    <div *ngIf="pwd1.hasError('notEqual') && pwd.valid">Password is not same</div>
  </div> 
   
  <div>
    <button type="submit" class="submit" (click)="set()">Set Password</button>
  </div>


</div>

</form>

</fieldset>
<br>

