<div class="topnav">
  <ul style="list-style-type: none;">
    <img src="../assets/images/LoanLogo.jpg" width=15% height="75px" class="logo">
    <li><a [routerLink]="['/userDashboardLink']">Dashboard</a></li>
    <li><button class="dropbtn" (click)="logout()"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Logout</button></li>
  </ul>
</div>
<br>
<div class="nav">
  <button class = "navbar" [routerLink]="['/applyLink']">Personal Details</button>
  <button class = "navbar" [routerLink]="['/employmentDetailsLink']">Employement Details</button>
  <button class = "navbar" [routerLink]="['/vehicleDetailsLink']">Vehicle Details</button>
  <button class = "navbar" [routerLink]="['/bankDetailsLink']">Bank Details</button>
  <button class = "navbar" [routerLink]="['/uploadLink']">Upload Documents</button>
  <button class = "navbar" [routerLink]="['/loanDetailsLink']">Loan Details</button>
</div>     
<hr><hr>

<fieldset>
<form #myForm=ngForm (ngSubmit)="submit()">
 
<div class="form-group">
    <div>
      <h4>Employment Details</h4><br>
  
      <div class="form-group">
        <label class="control-label">Type of Employment :</label>
        <div class="form-control">
                  
          <input type="radio" value="Salaried" required name="employ" [(ngModel)]="cust.empType" #et="ngModel" (click)="addsal()">
            Salaried
                  
          <input type="radio" value="Sel Employed" required name="employ" [(ngModel)]="cust.empType" #et="ngModel" (click)="addSelf()" >
            Self Employed
              
          <input type="radio" value="Pensioner" name="employ" required [(ngModel)]="cust.empType" #et="ngModel" (click)="addPen()">
            Pensioner
        </div>
        <span class="help-block" *ngIf="et.touched && et.invalid" style="color: red; border: red;">
          Choose One
        </span>
          
      </div>
          
<!-- --------------------------------------------Salaried--------------------------------------------------------- -->
          
    <div class="salaried" [style.display]="sal? 'block' : 'none' " >
         
      <br>
        <label >Company Name</label>
        <input type="text" #cn="ngModel"  pattern="^[A-Z]([a-zA-Z0-9]|[- @\.#&!])*$" [(ngModel)]="cust.companyName" placeholder="Enter Company Name" class="form-control" name="companyName" required="true">
        <div *ngIf="cn.invalid && (cn.dirty || cn.touched)" style="color: red; border-color: red;">
        <div *ngIf="cn.errors.required">
            Company Name is Required
        </div>
        <div *ngIf="cn.errors.pattern">
          Enter Alphabets Only
        </div>
          
    </div><br>
  
    <div class="form-group">
        <label>Profession</label>
        <select class="form-control" id="exampleFormControlSelect1" name="profession" [(ngModel)]="cust.profession">
            <option value="Goverment Employee" name="gov" >Goverment Employee </option>
            <option value="Medical Professional" name="medical" >Medical Professional</option>
            <option value="Engineer" name="engineer">Engineer</option>
            <option value="Legal Profession"  name="legal" >Legal Profession</option>
            <option value="Artist" name="artist" >Artist</option>
        </select>
    </div><br>
  
            
        <label>Company Address</label>
        <input type="text"  class="form-control" #ad="ngModel" minlength="20"  name="address" required
        placeholder="Enter Company Address" [(ngModel)]="cust.companyAddress">
        <div *ngIf="ad.invalid && (ad.dirty || ad.touched)" style="color: red; border-color: red;">
          <div *ngIf="ad.errors.required">
           Adress is required
          </div>
          <div *ngIf="ad.errors.minlength">
            Address length should be more than 15 characters
          </div>
        </div><br>
          
          <label>City</label>
        <input type="text"  [(ngModel)]="cust.companyCity" required placeholder="Enter Company City"
        class="form-control "name="city" #ct="ngModel">
        <div *ngIf="ct.invalid && (ct.dirty || ct.touched)" style="color: red; border-color: red;">
          <div *ngIf="ct.errors.required">
           Please enter.
          </div>
        </div><br>
        
        <label>State</label>
        <input type="text"  [(ngModel)]="cust.companyState" required placeholder="Enter Company State"
        class="form-control "name="state" #st="ngModel">
        <div *ngIf="st.invalid && (st.dirty || st.touched)" style="color: red; border-color: red;">
          <div *ngIf="st.errors.required">
            Please enter
          </div>
        </div><br>
  
        <label>Annual Salary</label>
        <input type="number"  #al="ngModel" pattern="^[0-9]{5,}$" [(ngModel)]="cust.annualSal" placeholder="Enter Annual Salary" class="form-control" name="annualSal" required>
          <div *ngIf="al.invalid && (al.dirty || al.touched)" style="color: red; border-color: red;">
          <div *ngIf="al.errors.required">
            Please enter  numbers only
          </div>
          <div *ngIf="al.errors.pattern">
            Not Eligible to Apply for Loan
          </div>
        </div><br>
  
          <label >Work Experience in Years</label>
          <input type="number"  #we="ngModel" pattern="^[0-9]{0,2}$" [(ngModel)]="cust.workExp" placeholder="Enter Work Experience" class="form-control" name="work" required>
          <div *ngIf="we.invalid && (we.dirty || we.touched)" style="color: red; border-color: red;">
          <div *ngIf="we.errors.required">
            Please enter
          </div>
          <div *ngIf="we.errors.pattern">
            Not Eligible to Apply for Loan
          </div>
        </div><br>
        <button type="submit" name="submit" [disabled]="myForm.form.invalid" value="Next"  class="submit">Save and Next</button>
        
  
    </div> 
  
<!-- -------------------------------------------Pensioner--------------------------------------------------------- -->
          <form #pensionForm=ngForm (ngSubmit)="submit()">
           <div   class="pensioner" [style.display]="pens?  'block' : 'none' "> 
            <label>Annual income</label>
            <input type="number"  #at="ngModel"   pattern="^[0-9]{5,}$" [(ngModel)]="cust.annualSal" placeholder="Enter Annual Salary" class="form-control" name="income" required>
              <div *ngIf="at.invalid && (at.dirty || at.touched)" style="color: red; border-color: red;">
              <div *ngIf="at.errors.required">
                Please Enter Numbers Only
              </div>
              <div *ngIf="at.errors.pattern">
                Not Eligible to Apply
              </div>
            </div><br>
          
          
          <label>Profession</label>
          <input type="text"  #pp="ngModel" pattern="^[a-zA-Z]+$"  [(ngModel)]="cust.profession" placeholder="Enter Profession" class="form-control" name="prof" required>
            <div *ngIf="pp.invalid && (pp.dirty || pp.touched)" style="color: red; border-color: red;">
            <div *ngIf="pp.errors.required">
              Please enter
            </div>
            <div *ngIf="pp.errors.pattern">
              Alphabets Only
            </div>
          </div><br>
     
          <button type="submit" name="submit" [disabled]="pensionForm.form.invalid" value="Next"  class="submit">Save and Next</button>
        
  
          </div> <br>
        </form>
  
<!-- -------------------------------------------self employed--------------------------------------------------------- -->
<form #selfEmployForm=ngForm (ngSubmit)="submit()">
    <div class="self" [style.display]="self?  'block' : 'none' ">
        <label>Profession</label>
        <input type="text"  #pw="ngModel" pattern="^[a-zA-Z]+$"  [(ngModel)]="cust.profession" placeholder="Enter Pension" class="form-control" name="profession" required>
        <div *ngIf="pw.invalid && (pw.dirty || pw.touched)" style="color: red; border-color: red;">
        <div *ngIf="pw.errors.required">
            Please enter
        </div>
        <div *ngIf="pw.errors.pattern">
            Enter Alphabets Only
        </div>
        </div><br>
  
       <label>Annual Salary</label>
        <input type="number"  #aa="ngModel" pattern="^[0-9]{5,7}$" [(ngModel)]="cust.annualSal" placeholder="Enter Annual Salary" class="form-control" name="salary" required>
        <div *ngIf="aa.invalid && (aa.dirty || aa.touched)" style="color: red; border-color: red;">
            <div *ngIf="aa.errors.required">
                Please Enter Numbers Only
            </div>
            <div *ngIf="aa.errors.pattern">
                Not Eligible to Apply for Loan
            </div>
    </div><br>
           
            <label >Work Experience in Years</label>
            <input type="number"  #ww="ngModel" pattern="^[0-9]{0,2}$"  [(ngModel)]="cust.workExp" placeholder="Enter Work Experience" class="form-control" name="worke" required>
            <div *ngIf="ww.invalid && (ww.dirty || ww.touched)" style="color: red; border-color: red;">
            <div *ngIf="ww.errors.required">
              Please enter work experience
            </div>
            <div *ngIf="ww.errors.pattern">
              Not Eligible to Apply for Loan
            </div>
          </div><br>
          <button type="submit" name="submit" [disabled]="selfEmployForm.form.invalid" value="Next"  class="submit">Save and Next</button>
        
        </div> 
        </form>
        
<!-- -------------------------------------------End-------------------------------------------------------- -->
         
      </div> 
  </div>
</form>
</fieldset>
<br>