<div class="background">
    <div class="card">
        <p>Our app offers you the best deal for financing your new car. 
        Lowest interest rates, lowest EMI, minimal paperwork and quick disbursement.After a lifetime of working and raising families, you deserve a good retirement period.The borrower is not expected to service the loan during his lifetime.</p>
    <div class="content">
        <fieldset class="first"> 
    <table>
      <tr>
        <td>
         <h1><u><b>Scheme For Salaried Citizen:</b></u></h1>
         <ul>
           <li>Lowest Interest Rates & EMI.</li>
           <li>Longest Repayment Tenure (7 years).</li>
           <li>Financing on ‘On-Road price.</li>
           <li>On-Road price includes Registration & Insurance.</li>
           <li>Interest calculated on Daily Reducing Balance.</li>
           <li>For purchase of new passenger cars, Multi Utility Vehicles (MUVs) and SUVs.</li>
         </ul>
        </td>
        <td>
          <h1 style="margin-top: -40px;"><u><b>Scheme For Businessmen:</b></u></h1>
          <ul>
            <li>85% of credit facility for loans up to Rs. 5 Lakh is provided to you.</li>
            <li>Cost-free tenders</li>
            <li>This scheme provides a financial facility for land and building department.</li>
            <li>The rate of interest offered under this scheme is 8.50% onwards</li>
          </ul>
        </td>
      </tr>
    </table>
    </fieldset>
    <br>
        <fieldset class="second">
        <table>
    <td>
        <h1><u><b>Scheme For Senior Citizen:</b></u></h1>
    <ul  class="next">
    <li>Financing Upto 90% of 'On-road Price'</li>
    <li>No Advance EMI</li>
    <li>Dial 1800-11-2211 for more information.</li>
    <li>The borrower is not expected to service the loan during his lifetime.</li>
    </ul>
    </td>
    <td>
        <h1  style="margin-left: 250px;"><u><b>Scheme For Pensioner:</b></u></h1>
        <ul>
            <li  style="margin-left: 200px;">This loan approval takes just 59 minutes to be processed</li>
            <li  style="margin-left: 200px;"> After the loan gets approved in an hour, you can expect the money to reach in your bank account in 7-8 working days</li>
            <li  style="margin-left: 200px;">This scheme provides a financial facility for land and building department.</li>
            <li  style="margin-left: 200px;">The rate of interest offered under this scheme is 8.50% onwards</li>
        </ul>
    </td>
    </table>
    </fieldset>
    
    <div id="down">
        <fieldset>
    <h1><u><b>Steps to Register with the Vehicle Loan Schemes:</b></u></h1>
       <pre class="reg"><b>
        Step 1: Go to the "Login" tab 
        
        Step 2: If not logged in,click on "Not a user".Then you can see your registration form.Kindly fill all the required fields and submit the form.
        
        Step 3: You will get a mail from our end.Please login yourself with the credentials you got in the concerned mail.
        
        Step 4: Then you will log in succefully.
        
        Step 5: Proceed further and continue with filling the forms and uploading the required documents.
     
            <p style="color:red;font-weight: bolder;">You can apply for loan from here also.Just go for it.Happy Banking!!!</p>
            
            <a [routerLink]="['/loginLink']" class="readmore">Apply for a loan now <img src="../assets/images/arrow.png" alt=""></a>
        
    </b></pre>
    </fieldset>
    </div>
    </div>
    
    
</div>
</div>
    
    
    
        
    
    