<div class="topnav">
  <ul style="list-style-type: none;">
    <img src="../assets/images/logo/logo_idea4.png" width="30%" height="90px" class="logo">
    <li><a style=" color:black;font-weight: bolder;" [routerLink]="['/adminDashboardLink']">View Applications</a></li>
    <li><a style=" color:white" [routerLink]="['/adminClientsLink']">Clients</a></li>
    <li><a style=" color:white;" [routerLink]="['/adminRejectedLink']">Rejected</a></li>
    <li><button class="dropbtn" (click)="logout()"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Logout</button></li>
  </ul>
</div>
<br>


    <table id="transactions" style="margin-top: 5px;margin-bottom: 50px;">
      <tr>
      <th>Loan Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>View Application</th>
      <th>Action</th>
      </tr>
     
      <tr *ngFor = "let loan of loan">
          <td>{{loan.loanId}}</td>
          <td>{{loan.customer.custFirstName}}</td>
          <td>{{loan.customer.custLastName}}</td>
          <td>{{loan.customer.email}}</td>
          <td>{{loan.customer.phone}}</td>
          <td>{{loan.customer.address}}</td>
          <td>{{loan.customer.city}}</td> 
          <td>
            <button mat-button class="view" (click)="openDialog(loan.loanId)">Click here</button>
          </td>
          <td>
              <button class="approveButton" style="color: white;" (click)="approveLoan(loan.loanId)">Approve</button><br><br>
              <button class="rejectButton"  style="color:white;" (click)="rejectLoan(loan.loanId)">Reject</button>
          </td>

      </tr>
</table>





    
