*{
    box-sizing: border-box;
    font-family: "Muli", "Baloo Da 2", "Montserrat", sans-serif;
  }

  #transactions {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #transactions td, #transactions th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #transactions tr:nth-child(even){background-color: #f2f2f2;}
  
  #transactions tr:hover {background-color: #ddd;}
  
  #transactions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3244e9;
    color: white;
    text-align: center;
  }
  
  /* a:hover {
    background-color: #3244e9;
} */

#searchBox{
    width: 350px;
    height: 50px;
    float:right;
    margin: 50px;
    border-style:ridge;
    border-radius: 20px;
}


.approveButton,.rejectButton{
  width: 100px;
  border-radius: 30px;
  color:white;
  font-weight: bold;
  align-items: center;
}

.rejectButton{
  background-color: red;
}

.approveButton{
  background-color: blue;
}

.view {
  outline: none;
  border: none;
}