<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<header style="background: navy;" class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span style=" color:white;margin-bottom: 10px;" class="ml-3 text-xl">Loan on Wheels</span>
    </a>
    <nav id="helements" class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a style=" color:white;" [routerLink]="['/userDashboardLink']" class="mr-5 hover:text-gray-900">Home</a>
      <a style=" color: white;" [routerLink]="['/applyLink']" class="mr-5 hover:text-gray-900">Apply for loan</a>
    </nav>
    <button (click)="logout()" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Logout
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
<hr><hr><hr><hr><hr><hr>



 <div class="leftbox">
   <div class="sidenav">
  <nav>
    <ul>
     <li class="var_nav">
        <div class="link_bg"></div>
        <div class="link_title">
          <i class="fa fa-user" aria-hidden="true"></i>
          <a style="font-size: 23px;" (click)="profile()">Profile</a>
        </div>
     </li>
     <li class="var_nav">
        <div class="link_bg"></div>
        <div class="link_title">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <!-- <i class="fa fa-money" aria-hidden="true"></i> -->
          <a style="font-size: 23px;" (click)="loan()">Loans</a>
        </div>
     </li>
     <li class="var_nav">
      <div class="link_bg"></div>
      <div class="link_title">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <!-- <i class="fa fa-clock-o" aria-hidden="true"></i> -->
        <a style="font-size: 22.8px;" (click)="scheduler()">Pay EMI</a>
      </div>
   </li>
    </ul>
  </nav>
</div>
</div>
  

<div class="main">
  <section style="color:navy;">Welcome {{cust.custFirstName}} {{cust.custLastName}},</section>
  
  <table *ngIf="profile" id="transactions" style="margin-bottom: 50px;margin-top: 30px;">
    <tr>
    <th>Customer Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Phone</th>
    <th>City</th>
    <th>State</th>

    </tr>
    <tr>
        <td>{{cust.custId}}</td>
        <td>{{cust.custFirstName}}</td>
        <td>{{cust.custLastName}}</td>
        <td>{{cust.gender}}</td>
        <td>{{cust.email}}</td>
        <td>{{cust.phone}}</td>
        <td>{{cust.city}}</td>
        <td>{{cust.state}}</td>
    </tr>

</table>



<table *ngIf="show" id="transactions" style="margin-bottom: 50px;margin-top: 30px;">
  <section>Loan Details</section>  <br>
  <tr>
  <th>Loan Id</th>
  <th>Loan Amount</th>
  <th>ROI</th>
  <th>Tenure</th>
  <th>EMI</th>
  <th>Loan Status</th>
  </tr>
  
  <tr *ngFor="let loan of lo,index as i">
      <td>{{loan.loanId}}</td>
      <td>{{loan.loanAmount}}</td>
      <td>{{loan.rateOfInterest}}</td>
      <td>{{loan.tenure}}</td>
      <td>{{amt[i] | currency: 'INR':true:'1.1' }}</td>
      <td>{{loan.status}}</td>
  </tr>

</table>


<table *ngIf="view" id="transactions" style="margin-bottom: 50px;margin-top: 30px;">
  <table  id="transactions" style="margin-bottom: 50px;margin-top: 30px;">
    <section>Pay Emi</section> <br>
     <tr>
    <th>SR. No</th>
    <th>Loan Id</th>
    <th>Loan Amount</th>
    <th>Tenure</th>
    <th>EMI</th>
    <th>Pick A Date </th>
    <th>Pay Now</th>
    </tr>
   
    <tr  *ngFor="let loan of lon,let i =index">
        <td>{{i+1}}</td>
        <td>{{loan.loanId}}</td>
        <td>{{lnamt[i] | currency: 'INR':true:'1.1'}}</td>
        <td>{{tenu[i]}}</td>
        <td>{{rem[i] | currency: 'INR':true:'1.1' }}</td>
        <div>
        <td><input type="date" #em="ngModel" name="d" [(ngModel)]="dt" [min]="todayDate"  required ></td>
        <div style="display: inline;" *ngIf="em.invalid && (em.dirty || em.touched)" style="color: red; border-color: red; font-size: 15px;">
        <div *ngIf="em.errors.required">
         date is required.
        </div>
        </div>
        </div>
     <td><button [ngClass]="paid[i]?'disable':'approveButton'"  type="submit" (click)="pop(i)" [disabled]="em.invalid || paid[i]">Pay EMI</button><br><br></td> 
    <br><br>
    </tr> 
  
  </table>
  
  
  
  </table>
</div>  

  


