<div class="nav">
  <button class = "navbar" [routerLink]="['/applyLink']">Personal Details</button>
  <button class = "navbar" [routerLink]="['/employmentDetailsLink']">Employement Details</button>
  <button class = "navbar" [routerLink]="['/vehicleDetailsLink']">Vehicle Details</button>
  <button class = "navbar" [routerLink]="['/bankDetailsLink']">Bank Details</button>
  <button class = "navbar" [routerLink]="['/uploadLink']">Upload Documents</button>
  <button class = "navbar" [routerLink]="['/loanDetailsLink']">Loan Details</button>
</div>  

<hr><hr> 
<fieldset>   
<form #myForm=ngForm (ngSubmit)="submit()">
    
  <div class="form-group">
    <div class="col-xs-6  col-xs-offset-3 align-center">   
   
  <h4>Personal Details</h4>
  
      <label>First Name</label>
      <input type="text" placeholder="Enter First Name" #nm="ngModel" name="fname" 
      minlength="3" class="form-control" required  [(ngModel)]="cust.custFirstName" >
      <div *ngIf="nm.invalid && (nm.dirty || nm.touched)" style="color: red; border-color: red;">
        <div *ngIf="nm.errors.required">
         First Name is required.
        </div>
        <div *ngIf="nm.errors.minlength">
          First Name must be at least 3 characters long.
        </div>
      </div><br>
      
      <label> Last Name</label>
      <input type="text" placeholder="Enter Last Name" name="lname"
       class="form-control" required  minlength="4" [(ngModel)]="cust.custLastName" #ln="ngModel">
      <div *ngIf="ln.invalid && (ln.dirty || ln.touched)" style="color: red; border-color: red;">
        <div *ngIf="ln.errors.required">
          Last Name is required.
        </div>
        <div *ngIf="ln.errors.minlength">
          Last Name must be at least 4 characters long.
        </div>
      </div><br>
      
     <label> Gender</label>
      <div class="form-group" required >
       <input type="radio" name="gender" #gndr="ngModel"  [(ngModel)]="cust.gender"  value="Male">  Male
      <input type="radio" name="gender"  #gndr="ngModel"  [(ngModel)]="cust.gender" value="Female">  Female
      <input type="radio" name="gender"  #gndr="ngModel"  [(ngModel)]="cust.gender" value="Other">  Other
       </div>
       <div *ngIf=" gndr.invalid" style="color: red; border-color: red;">
        Select one
      </div><br>

      <label>Date of Birth</label>
      <input type="date" id="dob" [(ngModel)]="cust.dateOfBirth" name="dob" min="1961-04-18" max="2000-04-18" required [(ngModel)]="cust.dateOfBirth"> 
        
      <br><br>


      <label>Email Id</label>
     <input type="email" #em="ngModel" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$" required name="uemail" 
       placeholder="Enter Email Id" [(ngModel)]="cust.email">
       <div *ngIf="em.invalid && (em.dirty || em.touched)" style="color: red; border-color: red;">
        <div *ngIf="em.errors.required">
         Email is required.
        </div>
        <div *ngIf="em.errors.pattern">
          Invalid Email Id
        </div>
      </div><br>

      <label>Contact Number</label>
     <input type="text"  #mb="ngModel" required name="uphone" class="form-control"
      pattern="^[6-9]\d{9}$" placeholder="Enter Phone Number" [(ngModel)]="cust.phone">
      <div *ngIf="mb.invalid && (mb.dirty || mb.touched)" style="color: red; border-color: red;">
        <div *ngIf="mb.errors.required">
         Password is Required.
        </div>
        <div *ngIf="mb.errors.minlength">
          Phone Number Length Should be 10 
        </div>
        <div *ngIf="mb.errors.pattern">
          Invalid Phone Number
        </div>
      </div><br>

      <label>Address</label>
      <input type="text"  class="form-control" #ad="ngModel" minlength="20"  name="address" required
      placeholder="Enter Address" [(ngModel)]="cust.address">
      <div *ngIf="ad.invalid && (ad.dirty || ad.touched)" style="color: red; border-color: red;">
        <div *ngIf="ad.errors.required">
         Adress is required
        </div>
        <div *ngIf="ad.errors.minlength">
          Address length should be more than 15 characters
        </div>
      </div><br>

      <label>Pin Code</label>
      <input type="number"  placeholder="Enter Pin Code" [(ngModel)]="cust.pinCode" 
      #pn="ngModel" required class="form-control "name="pincode" minlength="6"><br>
      <div *ngIf="pn.invalid && (pn.dirty || pn.touched)" style="color: red; border-color: red;">
        <div *ngIf="pn.errors.required">
         Pincode is required.
        </div>
        <div *ngIf="pn.errors.minlength">
          Pincode length should be 6 character numbers only
        </div>
      </div><br>

      <label>City</label>
      <input type="text" [(ngModel)]="cust.city" required placeholder="Enter City"
      class="form-control "name="city" #ct="ngModel"><br>
      <div *ngIf="ct.invalid && (ct.dirty || ct.touched)" style="color: red; border-color: red;">
        <div *ngIf="ct.errors.required">
         Please enter.
        </div>
      </div><br>
      
      <label>State</label>
      <input type="text" [(ngModel)]="cust.state" required placeholder="Enter State"
      class="form-control "name="State" #st="ngModel"><br>
      <div *ngIf="st.invalid && (st.dirty || st.touched)" style="color: red; border-color: red;">
        <div *ngIf="st.errors.required">
          Please enter
        </div>
      </div><br>
  
      
  
      
    <button type="submit" name="submit" value="Save and Next" [disabled]="myForm.form.invalid" class="submit">Save and Next</button>
                     
 
  
</div>
</div>
</form>
</fieldset><br>