a,th,td{
  font-family: "Muli", "Baloo Da 2", "Montserrat", sans-serif;
  }

  
  #transactions {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #transactions td, #transactions th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #transactions tr:nth-child(even){background-color: #f2f2f2;}
  
  #transactions tr:hover {background-color: #ddd;}
  
  #transactions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3244e9;
    color: white;
    text-align: center;
  }
  
  a:hover{
       background-color: orange;
  }
  
  .header{
    text-align: center;
    background: white;
    width: 100%;
  
  }
  
  .topnav {
    overflow: hidden;
    background-color: orangered;
    width: 100%;
    height: 75px;
  }
  
  .topnav a {
    float: left;
    color: black;
    font-weight: bold;
    font-size: medium;
    padding: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  .logo{
   float: left;
   margin-left: -38px;
   margin-top: -15px;
   margin-right: 800px;
  }  
  
  .dropbtn {
    margin-top: 14px;
    background-color: white;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 100px;
    padding: 5px 14px;
    cursor: pointer;
  } 

  
  