<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<header style="background: navy;" class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span style=" color:white;"  class="ml-3 text-xl">Loan on Wheels</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a  style=" color:white;" [routerLink]="['/adminDashboardLink']" class="mr-5 hover:text-gray-900">View Applications</a>
      <a  style=" color:white;" [routerLink]="['/adminClientsLink']" class="mr-5 hover:text-gray-900">Clients</a>
      <a  style=" color:red;"  [routerLink]="['/adminRejectedLink']" class="mr-5 hover:text-gray-900">Rejected</a>
    </nav>
    <button (click)="logout()" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Logout
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
<hr><hr><hr><hr><hr><hr>
    


  <table id="transactions" style="margin-top: 5px;margin-bottom: 50px;">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>City</th>
    </tr>

    <tr *ngFor = "let loan of loan">
      <td>{{loan.customer.custFirstName}}</td>
      <td>{{loan.customer.custLastName}}</td>
      <td>{{loan.customer.email}}</td>
      <td>{{loan.customer.phone}}</td>
      <td>{{loan.customer.city}}</td> 
    </tr>
  </table>